<!-- sections/PolicyHero.liquid -->

<div class="header_background-image-wrapper">
  <div class="header_overlay-layer"></div>
</div>
<div class="padding-global padding-section-medium">
  <div class="margin-top margin-xhuge">
    <div class="container-medium">
      <h1 class="heading-style-display text-color-alternate">{{ policy.title }}</h1>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "header",
  "name": "PolicyHero",
  "class": "section_content-header",
  "presets": [
    {
      "name": "PolicyHero",
      "category": "Liquify"
    }
  ]
}
{% endschema %}