<!-- sections/PolicyHero.liquid -->

<div class="header_background-image-wrapper">
  <div class="header_overlay-layer"></div>
</div>
<div class="padding-global padding-section-medium">
  <div class="margin-top margin-xhuge">
    <div class="container-medium">
      {% assign policy_title = '' %}
      {% if request.page_handle == 'privacy-policy' %}
        {% assign policy_title = shop.privacy_policy.title %}
      {% elsif request.page_handle == 'terms-of-service' %}
        {% assign policy_title = shop.terms_of_service.title %}
      {% elsif request.page_handle == 'refund-policy' %}
        {% assign policy_title = shop.refund_policy.title %}
      {% elsif request.page_handle == 'shipping-policy' %}
        {% assign policy_title = shop.shipping_policy.title %}
      {% else %}
        {% assign policy_title = page.title %}
      {% endif %}
      <h1 class="heading-style-display text-color-alternate">{{ page.policy_title }}</h1>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "header",
  "name": "PolicyHero",
  "class": "section_content-header",
  "presets": [
    {
      "name": "PolicyHero",
      "category": "Liquify"
    }
  ]
}
{% endschema %}