<!-- sections/PolicyContent.liquid -->

<div class="padding-global padding-section-medium">
  <div class="container-large">
    <div class="default_wrapper">
      <div class="text-rich-text w-richtext">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "PolicyContent",
  "class": "section_policy",
  "presets": [
    {
      "name": "PolicyContent",
      "category": "Liquify"
    }
  ]
}
{% endschema %}